/* Typetura v4.2.0 */

@layer typetura {
  * {
    /* Toggle Typetura styles with `--tt: var(--on)` */
    --tt: 0;
    --on: unset;

    /* Use cqi when available, if not use vi. */
    --container: var(--tt, 100cqi);

    animation-delay: var(
      --tt,
      calc(progress(var(--container), var(--from), var(--to)) * -1s)
    );
    animation-duration: var(--tt, 1s);
    animation-iteration-count: var(--tt, 1);
    animation-fill-mode: var(--tt, both);
    animation-play-state: var(--tt, paused);
  }

  /* Utility classes */
  .tt,
  .rtt,
  .typetura,
  html {
    --tt: var(--on);
  }
  :where(html) {
    --from: 0rem;
    --to: 60rem;
  }
  :where(.rtt) {
    --container: 100vi;
  }
  :where(.cq) {
    container-type: inline-size;
  }
}
